<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>

  <system.serviceModel>
    <services>
      <service name="CardsLibrary.GameState">
        <endpoint
          name="GameState"
          address="net.tcp://172.22.131.73/CardsLibrary/GameState"
          binding="netTcpBinding"
          bindingConfiguration="myBindingConfiguration"
          contract="CardsLibrary.IGameState"
          />
      </service>
    </services>
    
    <bindings>
      <netTcpBinding>
        <binding name="myBindingConfiguration">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
